.anc-approvals {
    margin-bottom: 1em;
}

.anc-approvals .anc-approval-list-toggle {
    display: inline-block;
    padding-right: 10px;
    text-decoration: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

.anc-approvals .anc-approval-list-toggle:hover,
.anc-approvals .anc-approval-list-toggle:active {
    background: #778899;
    color: #fff;
}

.anc-approvals .anc-approval-list-toggle span {
    display: inline-block;
    padding: 5px 10px;
    font-weight: bold;
    background: #778899;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

.anc-approvals ul,
.anc-approvals li {
    margin: 0;
    padding: 0;
}

.anc-approvals li {
    list-style-type: none;
    margin-bottom: 0.25em;
    padding: 0.5em 12px;
    background: #eee;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

.anc-approvals li:hover,
.anc-approvals li:active {
    background: #e7e8e9;
}

.anc-approvals .anc-approval-list a {
    display: inline-block;
    margin-right: 5px;
    padding: 0.25em 8px;
    background: #fefefe;
    background: rgba(255,255,255,0.5);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 80%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

.anc-approvals .anc-approval-list a:hover,
.anc-approvals .anc-approval-list a:active {
    background: #778899;
    color: #fff;
}

.anc-approvals .anc-topic {
    margin: 0 10px;
    font-weight: bold;
}

.anc-approvals .anc-topic:after {
    content: ":";
}

.anc-approvals .hide {
    display: none;
}

/* cparaiso */

.announcements-portlet-toolbar {
    overflow: hidden;
    margin-bottom: 1em;
    line-height: 31px;
}

.announcements-portlet-secondary {
    float: right;
}
/* add topic screen */
.announcements-portlet-row { 
    overflow: hidden; 
    margin-bottom: 0; 
    padding: 6px 0; /* used padding instead of margin so box-shadow wont get cut */
}

.announcements-portlet-col {
    float: left;
    width:70%;
}
    
.announcements-portlet-col .portlet-msg-error {
    display: block;
    margin-bottom: 1em;
}

.announcements-portlet-row label { 
    display: block; 
    float: left; 
    width: 30%;
}

input[type=text], input[type=checkbox], .announcements-portlet-sub-methods { 

}

.announcements-portlet-sub-methods { 
    margin: 0;
}

.announcements-portlet-sub-methods li { 
    list-style-type: none; 
    margin-bottom: 0.5em; 
}

.announcements-portlet-sub-methods label, .announcements-portlet-sub-methods input[type=checkbox] { 
    float: none; 
    display: inline; 
}

/* add announcement screen */
.announcements-portlet-action {
    line-height: 1.85em;
    display: block; 
    float: left;
    margin-bottom: 1em;
}

.portlet-section-header {
    clear: both;
}
