/* This is a very basic stylesheet for the date-picker. Feel free to create your own. */

/* The wrapper div */
.datePicker
        {
        position:absolute;
        min-width:24em;
        width:24em;
        z-index:9999;
        text-align:center;

        /* Change the font-size to suit your design's CSS. The following line is for the demo that has a 12px font-size defined on the body tag */
        font:900 0.8em/0.8em Verdana, Sans-Serif;
        
        /* For Example: If using the YUI font CSS, uncomment the following line to get a 10px font-size within the datePicker */
        /* font:900 77%/77% Verdana; */

        background:transparent;
        }

/* The iframe hack to cover selectlists in Internet Explorer <= v6 */
.iehack
        {
        position:absolute;
        background:#fff;
        z-index:9998;
        padding:0;
        border:0;
        display:none;
        margin:0;
        }
/* The button created beside each input */
.date-picker-control
        {
        position:relative;
        border:0 none;
        padding:0;
        margin:0 0 0 4px;
        background:transparent url(../media/cal.gif) no-repeat 0 0;
        width:16px;
        height:16px;
        vertical-align:middle;
        line-height:1;
        cursor:pointer;
        /* Remove the next line (or add it to an IE specific stylesheet imported using conditional comments) should you wish to validate the css */
        zoom:1;
        visibility:visible;
        }
/* The next & previous buttons */
.datePicker th button
        {
        display:inline;
        padding:0;
        margin:0;
        color:#000;
        text-align:center;
        line-height:1em;
        border-width:0;
        font-family: georgia, times new roman, palatino, times, bookman, serif;
        background:transparent;
        font-weight:bold;
        cursor:pointer;
        /* Remove the next line (or add it to an IE specific stylesheet imported using conditional comments) should you wish to validate the css */
        outline:expression(hideFocus="true");
        }
.datePicker th button:active,
.datePicker th button:focus,
.date-picker-control:active,
.date-picker-control:focus,
.datePicker th button.disabled
        {
        outline:none !important;
        /* Remove the next line should you need to validate the css */
        -moz-outline-style:none;
        }
span.month-display,
span.year-display
        {
        font-size:1.2em;
        text-transform:uppercase;
        letter-spacing:1px;
        font-weight:300;
        }
.datePicker th button.prev-but,
.datePicker th button.next-but
        {
        font-size:1.6em;
        }
.datePicker th button.today-but
        {
        text-align:center;
        margin:0 auto;
        font:normal 1em Verdana, Sans-Serif;
        width:100%;
        text-decoration:none;
        line-height:1.6em;
        text-transform:uppercase;
        }
.datePicker th button.fd-disabled
        {
        color:#aaa;
        cursor:default;
        }
/* The mon, tue, wed etc day buttons */
.datePicker th button.fd-day-header
        {
        text-align:center;
        margin:0 auto;
        font:900 1em Verdana, Sans-Serif;
        height:1.4em;
        width:2em;
        text-decoration:none;
        text-transform:lowercase;
        line-height:1.4em;
        }
/* The table */
.datePicker table
        {
        position:relative;
        margin:0;
        padding:0;
        border:1px solid #ccc;
        background:#fff url(../media/gradient-e5e5e5-ffffff.gif) repeat-x 0 -20px;
        text-align:center;
        width:auto;
        }
/* Common TD & TH styling */
.datePicker table td
        {
        border:1px solid #ccc;
        padding:0;
        text-align:center;
        vertical-align:middle;
        /* Opera requires a line-height bigger than 1em in order to redraw properly */
        line-height:1.2em;
        cursor:default;
        background:#fff url(../media/gradient-e5e5e5-ffffff.gif) repeat-x 0 -40px;
        width:3em;
        height:3em !important;
        height:2.8em;
        }
.datePicker table th
        {
        border:0 none;
        padding:0;
        line-height:1em;
        font-weight:bold;
        color:#222;
        text-align:center;
        vertical-align:middle;
        }
.datePicker table td.date-picker-unused
        {
        background:#fff url(../media/backstripes.gif);
        border-color:#dcdcdc;
        }
.datePicker table thead th.date-picker-title
        {
        width:auto;
        height:auto;
        padding:0.4em 0;
        }
/* The "mon tue wed etc" day header button styles */
.datePicker table th.date-picker-day-header
        {
        text-transform:lowercase;
        cursor:help;
        width:3em;
        }
/* The "todays date" style */
.datePicker table td.date-picker-today
        {
        background:#fff url(../media/bullet2.gif) no-repeat 0 0;
        color:rgb(100,100,100) !important;
        }
/* The "selected date" style */
.datePicker table td.date-picker-selected-date
        {
        color:#333 !important;
        border-color:#333 !important;
        }
/* the "highlight days" style */
td.date-picker-highlight
        {
        color:#a86666;
        }
/* The date "out of range" style */
.datePicker table td.out-of-range
        {
        color:#ccc !important;
        font-style:oblique;
        background:#fcfcfc !important;
        cursor:default !important;
        }
/* The "disabled days" style */
.datePicker table td.day-disabled
        {
        color:#aaa !important;
        background:transparent !important;
        cursor:default !important;
        }
/* The "active cursor" style */
.datePicker table td#date-picker-hover
        {
        background:#fff url(../media/bg_header.jpg) no-repeat 0 0;
        cursor:pointer;
        border-color:rgb(100,130,170);
        color:rgb(100,130,170);
        /* Reinsert the following line should you wish to see the "focus" outline in FF/Moz */
        outline:none;
        }
/*
   Quirksmode necessity?
   ---------------------

   If your HTML document renders in quirksmode (i.e. has no doctype declaration)
   then uncomment the following CSS rule to set a less drastic font-size in IE

.datePicker table th,
.datePicker table td
        {
        font-size:100%;
        }
*/

/* Remove the images for Internet Explorer <= v6 using the "* html" hack */
* html .datePicker table td.date-picker-selected,
* html .datePicker table td.date-picker-hover,
* html .datePicker table td
        {
        background-image:none;
        }
* html .datePicker table td.date-picker-unused
        {
        background:#f2f2f2;
        }
